config HUAWEI_HALL_SENSORS
        bool "huawei hall sensors"
		default n
        help
          Say Y here if you want to build the huawei hall sensor drivers.
		  If unsure, say N here.

source "drivers/hwsensor/hallsensor/Kconfig"
config HUAWEI_LP_SENSORS
        bool "huawei als and proximity sensors"
		default n
        help
          Say Y here if you want to build the huawei als and proximity sensor drivers.
		  If unsure, say N here.

source "drivers/hwsensor/lpsensor/Kconfig"
config SENSOR_DEVELOP_TEST
        bool "Support for sensor develop selftest"
		default n
        help
          Say Y here if you want to build develop test sensor connected with ap side.
		  If unsure, say N here.
#config HUAWEI_SENSOR_INFO
#        tristate "Support for sensor self_adapt"
#        depends on HUAWEI_KERNEL
#        default n
#        help
#          Say Y to enable support self-adapt

config HUAWEI_SENSOR_INFO
        tristate "Support for sensor self_adapt"
        default n
        help
          Say Y to enable support self-adapt
config HUAWEI_PS_SENSOR
        bool "huawei ps sensor"
		default n
        help
          Say Y here if you want to build the huawei thp sensor drivers.
		  If unsure, say N here.

source "drivers/hwsensor/pssensor/Kconfig"

config HUAWEI_SAR_SENSOR
        bool "huawei sar sensor"
		default n
        help
          Say Y here if you want to build the huawei sar sensor drivers.
		  If unsure, say N here.

source "drivers/hwsensor/sarsensor/Kconfig"

config HUAWEI_COLOR_SENSOR
        bool "honor color sensor"
		default y
        help
          Say Y here if you want to build the honor color sensor drivers.
		  If unsure, say N here.

source "drivers/hwsensor/colorsensor/Kconfig"

config HONOR_SENSOR_EVENT
        bool "honor sensor event"
               default n
        help
          Say Y here if you want to build the honor sensor event drivers.
                 If unsure, say N here.

source "drivers/hwsensor/sensorevent/Kconfig"
