#include "../huawei_charger/mt6853_jlh_huawei_charger.dtsi"
&i2c7 {
	bq25970@65 {
		status = "disabled";
	};

	bq25970@66 {
		i2c_recovery_addr = <0x65>;
		status = "ok";
	};
};
&i2c0 {
	bq25970@65 {
		status = "disabled";
	};

	bq25970@66 {
		i2c_recovery_addr = <0x65>;
		status = "ok";
	};
};
