#
# Copyright (c) Honor Technologies Co., Ltd. 2018-2018. All rights reserved.
# Description: Honor kernel mdpp selftest configuration
# Author: sunhongqing <sunhongqing@honor.com>
# Cryptographic API Configuration
# Create: 2018-03-31
#

menu "Honor KERNEL STP"

config HW_KERNEL_STP
	tristate "enables Honor KERNEL STP"
	default n
	help
	  This option enables support for Honor kernel stp in kernel space.
	  Honor kernel stp is a security threat perception module at kernel.
	  each source of threat can report the risk info to native throught the kernel stp

config HW_KERNEL_STP_ENG_DEBUG
	bool "Honor KERNEL STP for engineering mode debug"
	depends on HW_KERNEL_STP
	default n
	help
	  This option should only be enabled for engineering mode & debug test.
	  In engineering mode, more debug info can be print for tester.

endmenu
