#
# fuel gauge ic drivers
#
source "drivers/huawei_platform/power/hardware_ic/fuel_gauge/rt9426/Kconfig"
source "drivers/huawei_platform/power/hardware_ic/fuel_gauge/bq27z561/Kconfig"

config FUEL_GAUGE
	bool "fuel gauge"
	default n
	help
	  Say Y here to enable fuel gauge.
	  this driver provides a unified interface to the coul.
	  Currently supported coul as below.
	  bq27z561
	  rt9426
