#
# huawei hardware ic drivers
#

source "drivers/hwpower/cc_hardware_ic/buck_boost/Kconfig"
source "drivers/hwpower/cc_hardware_ic/charge_pump/Kconfig"
source "drivers/hwpower/cc_hardware_ic/switch_capacitor/Kconfig"
source "drivers/hwpower/cc_hardware_ic/boost_5v/Kconfig"
source "drivers/hwpower/cc_hardware_ic/wireless_charge_ic/Kconfig"
source "drivers/hwpower/cc_hardware_ic/charge_adc_monitor/Kconfig"
source "drivers/hwpower/cc_hardware_ic/fuel_gauge/Kconfig"

config I2C_OPERATION_IN_COMPLETE
        bool "i2c_operation_in_complete"
        default n
        help
        Say Y here to put i2c operation in complete api.

config CHARGER_CHECK_I2C
        bool "charger_check_i2c"
        default n
        help
        Say Y here to check i2c in charger.
