config HW_AUDIO_INFO
    tristate "set audio info for self adapt"
	default n
	help
	  This is used to some audio self adatper configuration.
config AUDIO_CARD_FACTORY
    bool "set audio card to factory mode"
	default n
	help
	  This is used to enable factory mode.